#!/usr/bin/env zsh

# Find files with rg and then select them for edit with fzf
function f (){
    echo $(rg --column --line-number --no-heading --fixed-strings --ignore-case --no-ignore --hidden --follow --color "always" "$1" | fzf --ansi | cut -d":" -f1)
}

# Edit after finding from rg + fzf
function fe () {
    $EDITOR $(f "$1")
}

# Logbook
function lb() {
    vim ~/logbook/$(date '+%Y-%m-%d').md
}

# mkdir and cd
mkcd () {
  mkdir $1 && cd $1
}

# move and go to dir
mvgo (){
  if [ -d "$2" ];then
    mv $1 $2 && cd $2
  else
    mv $1 $2
  fi
}

## Get the process on a given port
function port() {
  lsof -i ":${1:-80}"
}

recent (){
    git co $(git recent-branches | column -ts '|' | fzf --ansi --no-sort | sed -e 's/^[* ] //g' | cut -d' ' -f1)
}

# remove key from known hosts
rk (){
    sed -i '' -e "$1d" "$HOME/.ssh/known_hosts"
    echo "removed line $1"
}

